table { 
    border-collapse:collapse;
    margin: auto;
  }
  
  tr > * {
    padding-right: 50px;
    padding-left: 10px;
  }
  td {
    padding-top: 20px;
  }
  
  tbody > *:hover {
    background-color: lightgray;
  }