<!DOCTYPE html>
<html lang="en">
<head>
    {% with page="Search All" %}
        {% include "header.html" %}
    {% endwith %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<body>
    {% include 'nav.html' %}

    <div class="noscroll" >
        <input name="q" hx-trigger="keyup changed delay:500ms, load" hx-get="/api/song_query" hx-target="#results">
        <button hx-get="/api/refresh_dir" hx-swap="none">Refresh Directory</button>
    </div>
    <table class="sortable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody id="results"></tbody>
    </table>
</body>
</html>